<!doctype html>
<head>
<title>Flask</title>
</head>    
<body>
<h1>Bienvenue sur votre Framework Flask</h1>
<h2>Ceci est le projet de : Prénom Nom</h2>
<p>Si vous avez mis en ligne votre solution et si cette page d'exercices s'affiche dans votre navigateur alors réussi votre mise en service.</p>
<p>Notions acquises lors de cette étape : Vous avez lors cette première étape apris à créer votre hébergement en ligne sur Alwaydata, installer une application, Forker un projet GitHUB et créer des Secrets qui seront utilisés lors de vos Commits pour mettre à jour votre site en ligne</p>
<p>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>
<h3>Exercice 1 : Personnaliser votre page d'exercices</h3>
<p>Modifier le fichier exercices.html de votre projet GitHUB afin de préciser votre Prénom et Nom sur cette page d'exercices (Modification de la ligne 7 du fichier exercices.html)</p>
<p>Notion acquises lors de cet exercice : Vous avez pris connaissance de votre environnement GitHUB avec ses fichiers, ses répertoires et ses "Commits" pour enregistrer vos modifications</p>
<p>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>
<h3>Exercice 2 : Création d'une nouvelle route</h3>
<p>Objectif : Savoir créer des routes (c'est à dire la création d'une nouvelle API)</p>
L'exercice consiste à créer une nouvelle route accèssible depuis le chemin "/contact/" de votre site et qui affichera "Ma page de contact" dans le navigateur de l'internaute.
L'internaute saisira l'adresse suivante dans son navigateur : <b>https://{Votre URL}/contact/</b> et obtiendra donc le résultat "Ma page de contact". Vous allez pour cela, depuis GitHUB, <b>ajouter</b> le code suivant dans votre fichier <b></b>__init__.py</b> qui est à la racine de votre Repository précédemment créé :
<pre><code><xmp>
@app.route("/contact/")
def MaPremiereAPI():
    return "<h2>Ma page de contact</h2>"
</xmp></code></pre>
Remarque importante : Ce code est à ajouter après la ligne "app = Flask(__name__)" qui est le début de votre programme et avant le bloc "if __name__ == "__main__" à la fin du fichier.
<b>Attention l'indentation est très importante en Python.</b>
</p>
<p>Notion acquises lors de cet exercice : Vous avez appris lors de cet exercice à créer des API (c'est à dire des routes) dans une application Python. Vous pouvez créer autant d'API (de routes) que vous le souhaitez dans votre application Python.</p>
<p>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>
<h3>Exercice 3 : Création d'un fichier contact.html</h3>
<p>Objectif : Savoir créer et placer ses fichiers HTML (&CSS)</p>
L'exercice consiste à créer un fichier contact.html toujours accèssible depuis la route "/contact/" de votre site et qui n'affichera plus "Ma page de contact" mais une page html beaucoup plus élaborée.
2 étapes sont nécéssaires pour réaliser cet exercice. Etape 1 : Créer et déposer votre fichier contact.html dans le répertoire <b>templates</b>. Etape 2 : Modifier votre route /contact/ comme suit :
<pre><code><xmp>
@app.route("/contact/")
def MaPremiereAPI():
    return render_template("contact.html")
</xmp></code></pre>
Remarque importante : Si vous souhaitez utiliser du CSS dans votre fichier.html, les fichiers CSS sont à déposer dans le répertoire /static/css/ . <b>Les "links" CSS dans votre fichier html passe par l'ajout du code suivant dans votre fichier html : </b><pre><code><xmp><link rel="stylesheet" href="../static/css/style.css"></xmp></code></pre>
</p>
<p>Notion acquises lors de cet exercice : Les Framework imposent un cadre de travail. Ici, le Framwork Flask vous impose de déposer vos fichiers html dans le répertoire "templates" et les fichiers CSS dans le répertoire /static/css/</p>
<p>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>
<h3>Exercice 4 : Création d'une fonction de calcul</h3>
<p>Objectif : Savoir créer des fonctions de calcul en Python</p>
L'exercice consiste à créer une fonction qui calculera le carré d'une valeur saisi par l'internaute. Cette fonction sera accessible depuis la route "/calcul_carre/" de votre site et nécessitera de saisir une valeur. Exemple : <b>https://{Votre_URL}/calcul_carre/2</b>.
Voici la route à créer dans votre application Python (__init__.py) :
<pre><code><xmp>
@app.route('/calcul_carre/<int:val_user>')
def carre(val_user):
    return "<h2>Le carré de votre valeur est : </h2>" + str(val_user * val_user)
</xmp></code></pre>
Travail demandé : Sachant que la construction d'une route pour 2 valeurs est la suivante :
<pre><code><xmp>    
/somme/<int:valeur1>/<int:valeur2>
</xmp></code></pre>
Ecrivez la fonction permettant de faire la somme de 2 valeurs saisie par l'internaute.   
</p>
<p>Notion acquises lors de cet exercice : Vous avez appris à créer vos fonctions Python</p>
<p>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>
<h3>Exercice 5 : Pair ou Impaire ?</h3>
<p>Objectif : Savoir créer des conditions</p>
Reprenez votre précédent exercice sur les sommes et précisez à l'internaute si la somme de ces deux valeurs est pair ou impaire.   
</p>
<p>Notion acquises lors de cet exercice : Vous avez appris à faire des conditions</p>
<p>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>
<h3>Exercice 6 : Somme de toutes les valeurs</h3>
<p>Objectif : Savoir créer des boucles</p>
Faites la somme de toutes les valeurs qui seront saisi par l'internaute. Le problème est que vous ne connaissez pas la quantité de valeur saisi par l'internaute. A vous de trouver la solution qui fonctionne.   
</p>
<p>Notion acquises lors de cet exercice : Vous avez appris à faire des boucles</p>
<p>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>
<h3>Exercice 7 : La valeur la plus importantes</h3>
<p>Objectif : Mélanger boucles, conditions et variables</p>
Trouver la valeur maximale saisie par l'Internaute.   
</p>
<p>Notion acquises lors de cet exercice : Vous savez à présent programmer en Flask</p>
<p>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>
<h3>Exercice 8 : Mettre un CV en ligne</h3>
<p>Objectif : Créer vos pages HTML et CSS dans Flask</br>
Votre CV sera accéssible via l'adresse suivante : https://{Votre_Compte_Alwaysdata}-alwaysdata.com/cv</br>
Celui-ci doit contenir au minimum les sections suivantes :</br>
- Présentation personnelle (CV anonyme) : photo, nom, prénom, profession, et une courte description. </br> 
- Expériences professionnelles : un tableau ou une liste des expériences professionnelles passées et actuelles.  </br>
- Formations : un tableau ou une liste de vos études et certifications.  </br>
- Compétences : une liste de vos compétences techniques et personnelles.  </br>
Votre CV doit contenir du style et à minima une image (la photo).</br>    
</p>
<p>Notion acquises lors de cet exercice : Vous savez à présent créer une application en Flask</p>   
</body>
</html>
